#wrapper{
	section.page-blog{
		@media screen and (min-width: 1200px ){
			margin-top: 100px;
		}
		@media screen and ( max-width: 1199px){
			margin-top: 60px;
		}

		.page-header{
			margin-bottom: 196px;

			@media screen and ( max-width: 1023px ){
				margin-bottom: 60px;
			}
			.container{
				.title{
					@media screen and ( min-width: 768px ){
						width: 70%;
					}
				}

				.thumb{
					position: absolute;
					right: 50px;
					top: 20px;

					@media screen and ( max-width: 1023px ){
						display: none;
					}
				}
			}
		}

		div.content{
			div.container{
				.title{
					span{
						font-size: 16px;
						color: $primary-color;
						font-weight: 600;
						text-transform: uppercase;
					}
					h2{
						text-transform: uppercase;
						font-size: 80px;
						color: $font-color;
						line-height: 1;
						font-weight: 800;
						position: relative;
						padding-bottom: 10px;
						margin-bottom: 15px;
						&::after{
							content: '';
							position: absolute;
							bottom: 0;
							width: 365px;
							height: 2px;
							left: -130px;
							background: $primary-color;
						}

						@media screen and (max-width:767px){
							font-size: 52px;
						}
					}
					h3{
						font-size: 23px;
						color: $primary-color;
						line-height: 1.3;
					}

					&.title-categorias{
						h2{
							font-size: 60px;

							@media screen and (max-width:767px){
								font-size: 52px;
							}
						}
					}
				}

				.destaques-blog{
					margin-top: 35px;
					article.card{
						float: right;
						width: 52%;
						margin-bottom: 22px;

						&:first-child{
							float: left;
							width: 45.5%;
							margin-right: 25px;
							.thumbnail{
								margin-bottom: 10px;
								height: 524px;
								@media screen and (max-width:425px){
									height: 345px;
								}
								@media screen and (max-width: 475px) and (min-width: 426px){
									height: 406px;
								}
								@media screen and (max-width: 535px) and (min-width: 476px){
									height: 457px;
								}

								@media screen and (max-width: 880px) and (min-width: 768px){
									height: 345px;
								}
								@media screen and (max-width: 1015px) and (min-width: 881px){
									height: 400px;
								}
							}

							@media screen and (max-width: 535px){
								float: none;
								width: 100%;
							}
							@media screen and (max-width: 767px) and (min-width:536px){
								float: none;
								width: 100%;
								max-width: 505px;
								margin: 0 auto;
							}

							@media screen and (max-width: 1028px) and (min-width: 768px){
								margin-right: 18px;
							}
						}
						.thumbnail{
							overflow: hidden;
							img{
								width: 100%;
								height: 100%;
								object-fit: cover;
								object-position: center;
								transition: all 0.2s ease;
							}
						}
						.info{
							h3{
								font-size: 28px;
								color: $font-color;
								font-weight: 600;
								line-height: 1;
								@media screen and (max-width: 1028px) and (min-width: 768px){
									font-size: 18px;
								}
							}
							> span{
								font-size: 16px;
								font-weight: 600;
								color: #737373;
								padding: 5px 0;
								display: block;
								position: relative;

								&::after{
									position: absolute;
									content: "";
									height: 1px;
									width: 75%;
									bottom: 0;
									left: 0;
									background: #737373;
								}
								@media screen and (max-width: 1028px) and (min-width: 768px){
									font-size: 11px;
								}
							}
							p{
								font-size: 16px;
								color: #737373;
								margin-top: 5px;
								@media screen and (max-width: 1028px) and (min-width: 768px){
									font-size: 12px;
								}
							}
						}
						&:not(:first-child){
							a{
								display: flex;
								justify-content: space-between;

								.thumbnail{
									height: 212px;
									width: 35%;
									@media screen and (max-width:425px){
										height: 345px;
									}
									@media screen and (max-width: 475px) and (min-width: 426px){
										height: 406px;
									}
									@media screen and (max-width: 535px) and (min-width: 476px){
										height: 457px;
									}
									@media screen and (max-width: 767px) and (min-width: 536px){
										height: 524px;
									}

									@media screen and (max-width: 880px) and (min-width: 768px){
										height: 143px;
									}
									@media screen and (max-width: 1015px) and (min-width: 881px){
										height: 182px;
									}
								}
								.info{
									width: 61%;
								}

								@media screen and (max-width: 767px){
									flex-wrap: wrap;
									.thumbnail{
										width: 100%;
									}
									.info{
										width: 100%;
										margin-top: 20px;
									}
								}
							}
						}

						&:hover{
							.thumbnail{
								img{
									transform: scale(1.05);
								}
							}
						}

						@media screen and (max-width: 535px){
							float: none;
							width: 100%;
						}
						@media screen and (max-width: 767px) and (min-width:536px){
							float: none;
							width: 100%;
							max-width: 505px;
							margin: 0 auto;
						}
					}
				}

				div.categorias-destaque{
					margin-top: 35px;
					margin-bottom: 100px;

					@media screen and (max-width: 767px){
						margin-bottom: 40px;
					}
					ul{
						display: flex;
						justify-content: space-between;

						@media screen and (max-width: 767px){
							flex-wrap: wrap;
						}

						li{
							width: 19%;
							height: 338px;
							background-position: center;
							background-size: 100%;
							background-repeat: no-repeat;
							overflow: hidden;
							border-radius: 10px;
							transition: all 0.3s ease;
							@media screen and (max-width: 767px){
								width: 49%;
								margin-bottom: 20px;
							}
							@media screen and (max-width: 550px){
								height: 250px;
							}
							@media screen and (max-width: 1023px) and (min-width: 768px){
								height: 214px;
							}

							a{
								display: block;
								text-align: center;
								height: 100%;
								position: relative;

								span{
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									left: 0;
									width: 100%;
									padding: 0 10px;
									color: $white;
									font-size: 50px;
									word-break: break-all;
									text-transform: uppercase;
									font-weight: 800;
									@media screen and (max-width: 767px){
										font-size: 44px;
									}
									@media screen and (max-width: 1023px) and (min-width: 768px){
										font-size: 30px;
									}
								}
							}

							&:hover{
								background-size: 103%;
							}
						}
					}
				}

				div.todas-materias{
					margin-top: 40px;
					.articles{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						@media screen and (max-width:1023px) and (min-width: 768px){
							max-width: 767px;
							margin: 0 auto;
						}

						article.card{
							width: 23.5%;
							margin-bottom: 70px;
							position: relative;
							transition: all 0.3s ease;

							a{
								.thumbnail{
									height: 270px;
									overflow: hidden;

									img{
										transition: all 0.3s ease;
										object-fit: cover;
										object-position: center;
										width: 100%;
										height: 100%;
									}
								}
								.info{
									margin-top: 15px;
									padding-bottom: 45px;
									h3{
										color: $font-color;
										font-size: 20px;
										font-weight: 600;
										line-height: 1.3;
									}
									span{
										font-size: 13px;
										font-weight: 600;
										color: #737373;
										display: block;
										border-bottom: 1px solid #737373;
										padding-top: 8px;
										padding-bottom: 5px;
									}
									p{
										font-size: 14px;
										color: #737373;
										font-weight: 500;
										margin-top: 5px;
									}
									.veja-mais{
										position: absolute;
										bottom: 0;
										left: 0;
										button{
											font-size: 16px;
											font-weight: 600;
											color: $white;
											background: $primary-color;
											border: 1px solid $primary-color;
											border-radius: 5px;
											width: 135px;
											transition: all 0.3s ease;
											height: 34px;
											margin-top: 25px;
											cursor: pointer;
											&:hover{
												background: $white;
												color: $primary-color;
											}
										}
									}
								}
							}
							&:hover{
								transform: scale(1.05);
							}

							@media screen and (max-width:550px){
								width: 100%;
							}
							@media screen and (max-width:1023px) and (min-width:551px){
								width: 49%;
							}
						}
					}
				}

				div.pagination{
					margin-bottom: 85px;
					nav{
						width: fit-content;
						margin: 0 auto;

						span, a{
							font-size: 18px;
							color: #c6ccd1;
							width: 50px;
							text-align: center;
							display: inline-block;
							border: 1px solid #c9c9c9;
							margin: -3px;
							padding: 8px 0;
							transition: all 0.3s ease;

							&.current, &:hover{
								color: $primary-color;
								font-weight: 500;
								background: #f2f3f5;
							}
							&:not(:last-child){
								border-right: none;
							}

							&:first-child{
								border-top-left-radius: 10px;
								border-bottom-left-radius: 10px;
							}
							&:last-child{
								border-top-right-radius: 10px;
								border-bottom-right-radius: 10px;
							}

							&.next, &.prev{ color: $primary-color; }
						}
					}
				}
			}
		}
	}
}
