#wrapper{
	section.page-fale-conosco{
		@media screen and (min-width: 1200px ){
			margin-top: 100px;
		}
		@media screen and ( max-width: 1199px){
			margin-top: 60px;
		}

		.page-header{
			margin-bottom: 196px;

			@media screen and ( max-width: 1023px ){
				margin-bottom: 60px;
			}
			.container{
				.title{
					@media screen and ( min-width: 768px ){
						width: 45%;
					}
				}

				.thumb{
					position: absolute;
					right: 148px;
					top: 20px;

					@media screen and ( max-width: 1023px ){
						display: none;
					}
				}
			}
		}

		.content{
			.container{
				> div:first-child{
					display: flex;
					justify-content: space-between;

					@media screen and ( max-width: 1200px ){
						flex-wrap: wrap;
						justify-content: space-evenly;
					}

					> div{
						text-align: center;
						padding: 42px 62px;
						width: 33%;

						h3{
							font-size: 35px;
							span{
								color: $primary-color;
							}
							@media screen and ( max-width: 1199px ){
								font-size: 28px;
							}
						}
						a{
							display: block;
							font-size: 20px;
							text-transform: uppercase;
							color: $white;
							border-radius: 5px;
							border: 2px solid;
							font-weight: 600;
							padding: 5px 0;
							width: 254px;
    						margin: 0 auto;

							i{
								font-size: 25px;
							}
							&:hover{
								background: $white !important;
							}
						}
						p{
							color: $font-color;
							font-size: 16px;
							margin-bottom: 18px;
						}

						&:first-child{
							padding-left: 0;
							a{
								background: $tertiary-color;
								border-color: $tertiary-color;
								&:hover{
									color: $tertiary-color;
								}
							}
						}
						&:nth-child(2){
							border-left: 2px solid #d8d9da;
							border-right: 2px solid #d8d9da;
							a{
								background: $success-color;
								border-color: $success-color;
								&:hover{
									color: $success-color;
								}
							}
						}
						&:last-child{
							width: 35%;
							padding-right: 0;
							a{
								background: $primary-color;
								border-color: $primary-color;
								&:hover{
									color: $primary-color;
								}
							}
						}

						@media screen and ( max-width: 768px ){
							width: 100% !important;
							padding: 0;
							margin-bottom: 30px;
							border: none !important;
						}

						@media screen and ( max-width: 1199px ) and ( min-width: 769px ){
							padding: 0;
							border: none !important;
							width: 45% !important;
							margin-bottom: 30px;
						}
					}
				}

				div.contato{
					margin-top: 70px;
					display: flex;
					justify-content: space-between;

					@media screen and ( max-width: 767px){
						flex-wrap: wrap;
					}

					> div:first-child{
						.title{
							span{
								font-size: 16px;
								color: $primary-color;
								font-weight: 600;
								text-transform: uppercase;
							}
							h2{
								text-transform: uppercase;
								font-size: 60px;
								color: $font-color;
								line-height: 1;
								font-weight: 800;
								position: relative;
								padding-bottom: 10px;
    							margin-bottom: 15px;
								&::after{
									content: '';
									position: absolute;
									bottom: 0;
									width: 365px;
									height: 2px;
									left: -80px;
									background: $primary-color;
								}
							}
							h3{
								font-size: 23px;
								color: $primary-color;
								line-height: 1.3;
							}
						}
						p{
							color: $font-color;
							font-size: 16px;
							margin-top: 28px;
						}
					}

					>div:last-child{
						width: 52%;
						@media screen and ( max-width: 767px){
							width: 100%;
						    margin-top: 30px;
						}
						form{
							p{
								margin-bottom: 10px;
								label{
									color: $font-color;
									font-size: 16px;
									margin-top: 10px;
									input:not([type=checkbox]), textarea{
										width: 100%;
										border: 1px solid $primary-color;
										border-radius: 10px;
										padding: 0 10px;
									}
									input:not([type=checkbox]){
										height: 38px;
									}
								}

								input[type=submit]{
									background: $tertiary-color;
									color: $white;
									text-transform: uppercase;
									font-size: 22px;
									font-weight: 600;
									border: 2px solid $tertiary-color;
									border-radius: 5px;
									height: 50px;
									padding: 0 46px;
									cursor: pointer;
									transition: all 0.3s ease;
									&:hover{
										background: $white;
										color: $tertiary-color;
									}
								}

								span.newsletter{
									font-weight: 100;
								}
							}

							.wpcf7-not-valid-tip {
								display: none !important;
							}

							.wpcf7-not-valid {
								border: 1px solid red !important;
							}

							.wpcf7-validation-errors{
								border-radius: 5px;
								border: 1px solid #ffc800 !important;
							}
						}

						.wpcf7-form-control-wrap{
							position: initial;
						}
					}
				}
			}

			.maps{
				position: relative;
				margin-top: 100px;
				.local{
					background-image: url(assets/images/fatia-azul.jpg);
					background-repeat: repeat;
					top: -66px;
					padding: 33px 0 33px 14%;
					width: 45%;

					@media screen and ( min-width: 768px ){
						position: absolute;
					}
					@media screen and ( max-width: 768px ){
						width: 768px;
					}
					@media screen and ( max-width: 800px ){
						top: -55px;
					}
					@media screen and ( max-width: 1024px ){
						padding: 33px 15px;
					}
					@media screen and ( max-width: 800px ) and ( min-width: 768px ){
						width: 50%;
					}

					h3{
						font-size: 35px;
						color: $white;
						line-height: 1;
						font-weight: 600;
						@media screen and ( max-width: 800px ){
							font-size: 25px;
						}
					}
					p{
						a{
							color: $white;
							font-size: 18px;
							@media screen and ( max-width: 800px ){
								font-size: 16px;
							}
						}
					}
				}
				iframe{
					width: 100%;
					height: 515px;
				}
			}
		}
	}
}
