/* Footer
========================================================================== */
footer{
	background: $secondary-color;
	background-size: 131px;
	display: flex;
	@media screen and (max-width: $dt){
		flex-wrap: wrap;
	}
	// .container{
		div.footer-left{
			width: 38%;
			padding: 105px 60px 100px 13%;
			@media screen and (max-width: $dt){
				width: 100%;
				padding: 30px 20px;
			}
			.logo-footer{
				@media screen and (max-width: $dt){
					text-align: center;
				}
			}
			> p{
				font-size: 14px;
				color: #666666;
				padding: 15px 0 40px 0;
			}
			.socias-footer{
				padding-left: 25px;
				@media screen and (max-width: $dt){
					text-align: center;
				}
				@media screen and (max-width: $container-size){
					padding: 0;
				}
				> a{
					display: inline-block;
					svg{
						transition: all 0.3s ease;
						height: 23px;
						width: 50px;
						vertical-align: middle;
						@media screen and (max-width: $container-size){
							width: 45px;
						}
					}

					&:hover{
						svg{
							transform: translateX(5px);
						}
					}
				}
			}
		}
		div.footer-right{
			width: 62%;
			background: url(assets/images/fatia-azul.jpg);
			background-repeat: repeat;
			padding: 55px 13% 64px 55px;

			@media screen and (max-width: $dt){
				width: 100%;
				padding: 30px 20px;
			}

			.contato-local{
				display: flex;
				@media screen and (max-width: $container-size){
					flex-wrap: wrap;
				}
				h4{
					color: $white;
					font-size: 18px;
					font-weight: 400;
				}
				> div{
					@media screen and (max-width: $container-size){
						width: 100%;
					}
					&:first-child{
						margin-right: 65px;
					}
					p{
						color: $white;
						font-size: 14px;
						a{
							color: $white;
							font-size: 18px;
							font-weight: 600;
							display: inline-block;
							transition: all 0.3s ease;

							&:hover{
								transform: translateX(5px);
							}
						}
					}
					&:nth-child(2){
						@media screen and (max-width: $container-size){
							margin-top: 20px;
						}
					}
				}
			}
			.footer-newsletter{
				margin-top: 80px;
				p{
					color: $white;
					font-size: 18px;
					line-height: 1.3;
					margin-bottom: 15px;
				}
				form{
					position: relative;
				}
				input{
					border: none;
					font-style: italic;
					padding: 8px 10px;
					width: 460px;
					border-radius: 20px;
					@media screen and (max-width: $dt){
						width: 100%;
					}
				}
				input:first-of-type{
					margin-bottom: 10px;
				}
				button{
					background: none;
					color: #469ac6;
					border: none;
					font-size: 20px;
					cursor: pointer;
					position: absolute;
					left: 400px;
					bottom: 0px;
					text-align: center;
					width: 60px;
					height: 36px;
					.fas{
						transition: all 0.3s ease;
					}

					&:hover{
						.fas{
							transform: translateX(3px);
						}
					}

					@media screen and (max-width: $dt){
						right: 0;
						left: auto;
					}
				}
				@media screen and (max-width: $dt){
					margin-top: 45px;
				}
			}
		}
	// }
}

