/* Header
========================================================================== */
button#responsive-menu-button{
	background-color: transparent !important;
	&.header-scroll{
		.responsive-menu-inner,
		.responsive-menu-inner::before,
		.responsive-menu-inner::after{
			background-color: $white !important;
		}
	}
}
#responsive-menu-container{
	background: url(assets/images/fatia-azul.jpg) !important;
	background-repeat: repeat;

	#responsive-menu-wrapper{
		margin-top: 35px;
		li.responsive-menu-item{
			a{
				background: url(assets/images/fatia-azul.jpg) !important;
				background-repeat: repeat;
				border: none !important;
			}
		}
	}

	.suporte-menu{
		padding: 15px;
		margin: 30px 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		a{
			font-size: 13px;
			color: $white;
			text-align: center;
			padding: 5px 0;
			border-radius: 2px;
			font-weight: 500;
			width: 100%;
			margin-bottom: 10px;

			&:first-child{
				background-color: $success-color;
				i{
					font-size: 15px;
				}
				&:hover{
					background-color: $darken-success-color;
				}
			}
			&:not(:first-child){
				background-color: $tertiary-color;
				&:hover{
					background-color: $darken-tertiary-color;
				}
			}
		}
	}
	.sociais-menu{
		text-align: center;
		> a{
			display: inline-block;
			svg{
				transition: all 0.3s ease;
				height: 23px;
				width: 50px;
				vertical-align: middle;
				filter: brightness(3);
				@media screen and (max-width: $container-size){
					width: 45px;
				}
			}

			&:hover{
				svg{
					transform: translateX(5px);
				}
			}
		}
	}
}

header[role=heading]{
	position: fixed;
	background: transparent;
	background-image: none;
    z-index: 100;
	top: 0;
	padding: 20px 0;
	left: 50%;
	width: 100%;
	transition: all 0.3s ease;
	transform: translateX(-50%);

	@media screen and ( max-width: 1199px ){
		padding: 0 !important;
	}

	.mobile-menu{
		height: 60px;
		text-align: center;
		@media screen and ( min-width: 1200px ){
			display: none;
		}
		#wrap-logo{
			img{
				width: 200px;
				margin-top: 10px;
			}
		}
	}

	.container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 60px;
		@media screen and ( max-width: 1199px ){
			display: none;
		}

		#wrap-logo{
			transition: all 0.3s ease;
			a{
				img{
					vertical-align: middle;
				}
			}
		}

		.orcamento-menu{
			margin-top: 10px;
			> div{
				> a:first-of-type{
					color: $white;
					font-size: 19px;
					text-transform: uppercase;
					background: $tertiary-color;
					padding: 8px 19px;
					font-weight: 600;
					border-radius: 2px;
					margin-right: 60px;
					display: inline-block;
					transition: all 0.3s ease;
					i{
						margin-right: 15px;
						font-size: 22px;
					}

					&:hover{
						background-color: $darken-tertiary-color;
					}
				}

				>button{
					border: none;
					background: transparent;
					vertical-align: bottom;
					cursor: pointer;
					position: relative;
					height: 34px;
					width: 45px;
					display: inline-block;
					vertical-align: middle;
					svg{
						width: 40px;
    					height: 40px;
					}

					span{
						width: 45px;
						height: 4px;
						background: $primary-color;
						display: block;
						position: absolute;
						border-radius: 2px;
						transition: all 0.3s ease;

						&:first-child{
							top: 0;
						}
						&:last-child{
							bottom: 0;
						}
						&:nth-child(2){
							top: 50%;
							transform: translateY(-50%);
						}
					}

					&.menu-open{
						span{

							&:first-child{
								top: 50%;
								transform: rotate(45deg);
							}
							&:last-child{
								bottom: 37%;
								transform: rotate(-45deg);
							}
							&:nth-child(2){
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}

	&.header-scroll{
		padding: 3px 0;
		#wrap-logo{
			a{
				img{
					filter: invert(200%) brightness(4.5);
				}
			}
		}
		.orcamento-menu{
			> div{
				> button{
					span{
						background: $white;
					}
				}
			}
		}
	}
}

// MENU ======================
#menu-desktop{
	position: fixed;
	z-index: 99;
	width: 0%;
	height: 100%;
	overflow: auto;
	transition: all 0.3s ease;
	background: rgb(0 0 0 / 63%);
	top: 0;

	#main-menu{
		background: url(assets/images/fatia-azul.jpg);
		background-repeat: repeat;
		padding: 20px 0 70px 70px;
		height: 100%;
		width: 524px;
		position: relative;

		h1#wrap-logo{
			text-align: center;
			padding-right: 60px;
			img{
				filter: invert(200%) brightness(4.5);
				vertical-align: middle;
			}
		}

		li {
			a{
				color: $white;
				position: relative;
				display: inline-block;
				width: 100%;
			}
		}

		ul.menu{
			> li{
				font-size: 22px;
				padding: 20px 60px 20px 0;

				.sub-menu{
					opacity: 0;
					visibility: hidden;
					z-index: -1;
					position: absolute;
					left: 464px;
					top: 0;
					background: url(assets/images/fatia-azul.jpg);
					background-repeat: repeat;
					padding: 110px 70px 70px 13%;
					height: 100%;
					width: 524px;
					box-shadow: inset 23px 0px 30px -27px #171717;
					transition: all 0.3s ease;

					> li{
						padding: 20px 60px 20px 0;
						&:hover{
							> a{
								color: $tertiary-color;
							}
						}
					}
				}

				&.menu-item-has-children{
					> a{
						&::after{
							content: "\f054";
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							font-size: 18px;
						}
					}
				}
				&:hover{
					> a{
						color: $tertiary-color;
					}

					.sub-menu{
						opacity: 1;
						visibility: visible;
						left: 523px;
						z-index: 1;
					}
				}
			}
		}

		.suporte-menu{
			padding-right: 60px;
			margin: 30px 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			a{
				font-size: 15px;
				color: $white;
				text-align: center;
				padding: 10px 0;
				border-radius: 2px;
				font-weight: 500;

				&:first-child{
					width: 100%;
					background-color: $success-color;
					margin-bottom: 10px;

					i{
						font-size: 25px;
					}

					&:hover{
						background-color: $darken-success-color;
					}
				}
				&:not(:first-child){
					background-color: $tertiary-color;
					width: 49%;
					&:hover{
						background-color: $darken-tertiary-color;
					}
				}
			}
		}
		.sociais-menu{
			text-align: center;
			padding-right: 60px;
			> a{
				display: inline-block;
				svg{
					transition: all 0.3s ease;
					height: 23px;
					width: 50px;
					vertical-align: middle;
					filter: brightness(3);
					@media screen and (max-width: $container-size){
						width: 45px;
					}
				}

				&:hover{
					svg{
						transform: translateX(5px);
					}
				}
			}
		}
	}
}

.mobmenu{
	background-image: none;
	.mob-standard-logo{
		transition: all 0.3s ease !important;
		@media screen and (max-width: 500px ){
			margin-right: 20px;
		}
	}
	.mob-menu-icon{
		color: $primary-color !important;
	}

	&.header-scroll{
		.mob-standard-logo{
			filter: invert(200%) brightness(4.5);
		}
		.mob-menu-icon{
			color: $white !important;
		}
	}
}
.mobmenu-left-panel{
	background-color: transparent !important;
	background: url(assets/images/fatia-azul.jpg);
	background-repeat: repeat;
}
.mobmenu-content{
	> .menu-principal-container{
		.suporte-menu{
			padding: 15px;
			margin: 30px 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			a{
				font-size: 13px;
				color: $white;
				text-align: center;
				padding: 5px 0;
				border-radius: 2px;
				font-weight: 500;
				width: 100%;
				margin-bottom: 10px;

				&:first-child{
					background-color: $success-color;
					i{
						font-size: 15px;
					}
					&:hover{
						background-color: $darken-success-color;
					}
				}
				&:not(:first-child){
					background-color: $tertiary-color;
					&:hover{
						background-color: $darken-tertiary-color;
					}
				}
			}
		}
		.sociais-menu{
			text-align: center;
			> a{
				display: inline-block;
				svg{
					transition: all 0.3s ease;
					height: 23px;
					width: 50px;
					vertical-align: middle;
					filter: brightness(3);
					@media screen and (max-width: $container-size){
						width: 45px;
					}
				}

				&:hover{
					svg{
						transform: translateX(5px);
					}
				}
			}
		}
	}
}
