/* Home
========================================================================== */
body.home{
	header[role=heading]{
		#wrap-logo{
			a{
				img{
					filter: invert(200%) brightness(4.5);
				}
			}
		}

		.orcamento-menu{
			> div{
				> button{
					span{
						background: $white !important;
					}
				}
			}
		}
	}
}
#wrapper{
	#slider-desktop{
		height: 685px;
	}
}

