/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/

/* Fonts
========================================================================== */
@import 'fonts';

/* Global variables
========================================================================== */
// Sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;
$container-size: 1170px;

// Colors
$primary-color: #0057a8;
$secondary-color: #f5f5f5;
$tertiary-color: #ff9d0d;
$success-color: #18b135;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);
$darken-success-color: darken($success-color, 10);

$white: #fff;
$black: #000;

$danger: #dc3545;
$success: #28a745;

$font-color: #181818;

// Fonts
a, b, span, p, strong, small, h1, h2, h3, h4, h5, input, div, select, li, button{
    font-family: 'Poppins', sans-serif !important;
}

/* Mixins
========================================================================== */
@import 'mixins';

/* Resets
========================================================================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    &:not(.fas, .fab, .fa) {
        font-size: 1rem;
    }
}

a {
	transition: all linear .2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input,
button {
	outline: none;
}

section {
	position: relative;
}

img.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
	width: 1170px;
	margin: 0 auto;
	@media screen and ( max-width: 1200px ){
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
	}
}

.al-small-container {
	width: 1042px;
}

.al-extra-small-container {
    position: relative;
    width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
	max-width: 100%;
	margin: 0 auto;
}
.header-scroll{
	background-image: url(assets/images/fatia-azul.jpg) !important;
	background-repeat: repeat !important;
}

div.left-right-content {
	display: table;
	width: 100%;
    div.left,
    div.right {
		display: table-cell;
		vertical-align: middle;
        @include smartphone {
			display: table-row;
		}
	}
}

.left,
.right {
	display: inline-block;
	width: 49.5%;
	position: relative;
	vertical-align: top;
    @include smartphone {
		width: 100%;
		padding: 20px;
	}
}

.page-header{
	background-image: url(assets/images/fatia-azul.jpg) !important;
	background-repeat: repeat !important;

	.container{
		height: 396px;
		position: relative;
		.title{
			padding-top: 75px;
			@media screen and ( min-width: 768px ){
				padding-left: 100px;
			}
			h1{
				color: $white;
				font-size: 80px;
				text-transform: uppercase;
				line-height: 1;
				@media screen and ( max-width: 767px ){
					font-size: 58px;
				}
			}
			p{
				color: $white;
				font-size: 16px;
			}
		}
	}

}

/* Html / Body
========================================================================== */
html {
	height: 100%;
    overflow: auto;
}

body {
    background: #fff;
	height: 100%;
    line-height: 1.6;
	font: normal normal 16px Arial, sans-serif;
	position: relative;
}

/* Custom scrollbar
========================================================================== */
@media screen and ( min-width: 1024px){
	body::-webkit-scrollbar {
		width: 10px;
	}

	body::-webkit-scrollbar-track {
		background: darken($white, 10);
	}

	body::-webkit-scrollbar-thumb {
		background: $primary-color;
		&:hover {
			background: $darken-primary-color;
		}
	}
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
    z-index: 99 !important;
}

.mobmenul-container {
	top: 0 !important;
	right: 2% !important;
    z-index: 0 !important;
	// background: $primary-color;
    padding: 10px 10px 0px 10px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mob-icon-menu,
.mob-menu-icon {
	color: #fff !important;
}

[class^="mob-icon-"]:before,
[class*="mob-icon-"]:before {
	font-size: 28px !important;
	width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container {
    .ajax-loader {
        display: none !important;
    }
    span[role="alert"] {
        display: none !important;
    }
    .wpcf7-not-valid {
        border: 1px solid $danger !important;
        @include placeholder {
            color: $danger !important;
        }
    }
    div[role="alert"] {
        position: absolute;
        bottom: 0;
        font-weight: bold;
        text-align: center;
        background: #f1f1f1;
        width: 100%;
        max-width: 502px;
        margin: 20px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        &.wpcf7-validation-errors {
            border-color: $danger;
            color: $danger;
        }
        &.wpcf7-mail-sent-ok {
            border-color: $success;
            color: $success;
        }
        @include smartphone {
            position: initial;
            max-width: 100%;
        }
    }
}

/* Pages
========================================================================== */
@import 'header';
@import 'footer';
@import 'home';
@import 'fale-conosco.scss';
@import 'sobre-nos.scss';
@import 'blog.scss';
