
/* Global Mixins
========================================================================== */
@mixin flex($justify: '', $align: '', $direction: '', $wrap: '') {
    display: flex;

    @if $justify != '' {
        justify-content: $justify;
    } @else {
        justify-content: space-between;
    }

    @if $align != '' {
        align-items: $align;
    } @else {
        align-items: flex-start;
    }

    @if $direction != '' {
        flex-direction: $direction;
    } @else {
        flex-direction: row;
    }

    @if $wrap != '' {
        flex-wrap: $wrap;
    } @else {
        flex-wrap: nowrap;
    }
}

@mixin small-desktop($up: false) {
    @if $up {
        @media screen and (min-width: #{dt} + 1) {
            @content;
        }
    } @else {
        @media screen and (max-width: #{dt}) {
            @content;
        }
    }
}

@mixin tablet($up: false) {
    @if $up {
        @media screen and (min-width: #{$tb} + 1) {
            @content;
        }
    } @else {
        @media screen and (max-width: #{$tb}) {
            @content;
        }
    }
}

@mixin smartphone($up: false) {
    @if $up {
        @media screen and (min-width: #{$sm} + 1) {
            @content;
        }
    } @else {
        @media screen and (max-width: #{$sm}) {
            @content;
        }
    }
}

@mixin breakpoint($resolution, $up: false) {
	@if $up {
		@media screen and (min-width: #{$resolution} + 1) {
			@content;
		}
    } @else {
		@media screen and (max-width: #{$resolution}) {
			@content;
		}
    }
}

@mixin placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin keyframes($name) {
    @if #{$name} != '' {
        @keyframes #{$name} {
            @content
        }
        @-moz-keyframes #{$name} {
            @content
        }
        @-webkit-keyframes #{$name} {
            @content
        }
        @-ms-keyframes #{$name} {
            @content
        }
        @-o-keyframes #{$name} {
            @content
        }
    }
}
