#wrapper{
	section.page-sobre-nos{
		@media screen and (min-width: 1200px ){
			margin-top: 100px;
		}
		@media screen and ( max-width: 1199px){
			margin-top: 60px;
		}

		.page-header{
			margin-bottom: 196px;

			@media screen and ( max-width: 1023px ){
				margin-bottom: 60px;
			}
			.container{
				.title{
					@media screen and ( min-width: 768px ){
						width: 70%;
					}
				}

				.thumb{
					position: absolute;
					right: 50px;
					top: 20px;

					@media screen and ( max-width: 1023px ){
						display: none;
					}
				}
			}
		}

		div.content{
			div.container{
				.especialista{
					display: flex;
					justify-content: space-between;
					padding-left: 24px;
					padding-right: 74px;

					@media screen and ( max-width: 800px ){
						flex-wrap: wrap;
						padding: 0;
					}

					> div{
						width: 43%;
						@media screen and ( max-width: 800px ){
							width: 100%;
						}
						&:first-of-type{
							h2{
								font-size: 60px;
								text-transform: uppercase;
								color: $font-color;
								line-height: 1;
								font-weight: 800;
								@media screen and ( max-width: 800px ){
									font-size: 45px;
								}
								span{
									color: $primary-color;
									font-size: 30px;
									font-weight: 600;
									display: block;
								}
							}
						}
						&:last-of-type{
							p{
								color: $font-color;
								text-align: right;
								font-size: 18px;
    							font-weight: 300;
							}
						}
					}
				}
			}
		}

		.trajetoria{
			margin-bottom: 20px;
			margin-top: 90px;
			display: flex;
			overflow: hidden;
			@media screen and ( max-width: 1023px ){
				flex-wrap: wrap;
			}

			.title-mobile{
				@media screen and ( min-width: 1024px){
					display: none;
				}
				padding: 0 15px;
				text-align: right;
				span{
					font-size: 16px;
					color: $primary-color;
					font-weight: 600;
					text-transform: uppercase;
				}
				h2{
					text-transform: uppercase;
					font-size: 45px;
					color: $font-color;
					line-height: 1;
					font-weight: 800;
					position: relative;
					padding-bottom: 10px;
					margin-bottom: 15px;
					&::after{
						content: '';
						position: absolute;
						bottom: 0;
						width: 365px;
						height: 2px;
						right: -142px;
						background: $primary-color;
					}
				}
			}

			>div:not(.title-mobile){
				width: 50%;
				height: 100%;
				position: relative;
				@media screen and ( max-width: 1023px ){
					width: 100%;
				}

				>div{
					width: calc(1170px / 2);
					height: 100%;

					@media screen and ( max-width: 1200px ){
						width: 100%;
					}
				}
				&:nth-of-type(2){
					>div{
						margin-left: auto;

						#galeria-trajetoria-ow{
							margin-left: -86px;
							@media screen and ( max-width: 1023px ){
								margin-left: 0;

								img{
									max-width: 100vw;
								}
							}
							@media screen and ( max-width: 1365px) and ( min-width: 1024px){
								margin-left: 0;
								img{
									max-width: 460px;
								}
							}
						}
					}
				}
				&:last-of-type{
					>div:not(.bg-absolute){
						margin-right: auto;
						position: relative;
						@media screen and ( max-width: 1200px ){
							padding: 0 15px;
						}
						.title{
							text-align: right;
							span{
								font-size: 16px;
								color: $primary-color;
								font-weight: 600;
								text-transform: uppercase;
							}
							h2{
								text-transform: uppercase;
								font-size: 60px;
								color: $font-color;
								line-height: 1;
								font-weight: 800;
								position: relative;
								padding-bottom: 10px;
    							margin-bottom: 15px;
								&::after{
									content: '';
									position: absolute;
									bottom: 0;
									width: 365px;
									height: 2px;
									right: -142px;
									background: $primary-color;
								}
							}
							@media screen and ( max-width: 1023px ){
								display: none;
							}
						}

						#slide-controls{
							margin-bottom: 10px;
							button{
								background: none;
								border: none;
								cursor: pointer;
								transition: all 0.2s ease;
								width: 59px;
    							height: 38px;

								&:last-child{
									img{
										transform: rotate(180deg);
									}
								}
								&:hover{
									background: $primary-color;
									img{
										filter: invert(200%) brightness(4.5);
									}
								}
							}
						}

						#content-trajetoria{
							li{
								position: relative;
								height: 320px;
								overflow: hidden;
								@media screen and ( max-width: 1023px ){
									background-image: url(assets/images/fundo-sobre.jpg);
									background-repeat: no-repeat;
									height: 353px;
								}
								> div:first-child{
									position: absolute;
									width: 100%;
									left: 0;
									top: 50%;
									transform: translateY(-50%);
									color: $white;

									>div.left{
										text-align: right;
										width: 69.5%;
										h3{
											font-size: 30px;
											font-weight: 600;
											line-height: 1;
											margin-bottom: 25px;
											@media screen and ( max-width: 1023px){
												font-size: 20px;
											}
										}
										p{
											font-size: 18px;
											line-height: 1.3;
											@media screen and ( max-width: 1023px){
												font-size: 15px;
											}
										}

										@media screen and ( max-width: 1023px){
											width: 100%;
											padding: 20px;
										}
									}
									div.right{
										width: 29.5%;
										p{
											word-break: break-word;
											line-height: 0.8;
											font-size: 115px;
											font-style: italic;
											font-weight: 700;
											text-align: center;
											@media screen and ( max-width: 1023px){
												font-size: 52px;
											}
										}
										@media screen and ( max-width: 1023px){
											width: 100%;
										}
									}
								}
							}
						}
					}
					> .bg-absolute{
						width: 58vw;
						height: 320px;
						position: absolute;
						bottom: 0;
						left: -111px;
						background-image: url(assets/images/fundo-sobre.jpg);
						background-repeat: no-repeat;
						@media screen and ( max-width: 1023px ){
							display: none;
						}
						@media screen and ( max-width: 1366px ){
							left: -64px;
						}
					}
				}
			}
		}

		.equipe{
			margin-top: 20px;
			margin-bottom: 50px;
			.container{
				.line{
					display: flex;
					justify-content: space-between;
					@media screen and ( max-width: 767px ){
						display: block;
					}
					> div{
						width: 31%;
						height: 394px;
						position: relative;
						margin-bottom: 40px;
						overflow: hidden;
						@media screen and ( max-width: 425px ){
							width: 100%;
						}
						@media screen and ( max-width: 767px ) and ( min-width: 426px ) {
							width: 425px;
							margin: 0 auto;
							margin-bottom: 40px;
						}
						> img{
							object-fit: cover;
							object-position: center;
							width: 100%;
							height: 100%;
							filter: grayscale(77%);
							transition: all 0.3s ease;
						}

						.info{
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							padding: 30px 25px;
							color: $white;
							background-image: linear-gradient(to top, #292929 20%, transparent);

							h4{
								font-size: 30px;
								font-weight: 500;
							}
							span{
								font-size: 18px;
								font-style: italic;
							}
						}
						&:first-child{
							.title{
								span{
									font-size: 16px;
									color: $primary-color;
									font-weight: 600;
									text-transform: uppercase;
								}
								h2{
									text-transform: uppercase;
									font-size: 60px;
									color: $font-color;
									line-height: 1;
									font-weight: 800;
									position: relative;
									padding-bottom: 10px;
									margin-bottom: 15px;
									&::after{
										content: '';
										position: absolute;
										bottom: 0;
										width: 365px;
										height: 2px;
										left: -80px;
										background: $primary-color;
									}
								}
								h3{
									font-size: 23px;
									color: $primary-color;
									line-height: 1.3;
								}
							}
						}

						&:hover{
							img{
								transform: scale(1.05);
								filter: none;
							}
						}
					}
					@media screen and ( min-width: 768px ){
						&:first-child{
							> div:nth-child(2){
								margin-top: 60px;
							}
							> div:last-child{
								margin-top: 180px;
							}
						}
						&:not(:first-child){
							> div:nth-child(2){
								margin-top: -120px;
							}
							> div:first-child{
								margin-top: -300px;
							}
						}
					}
				}
			}
		}
	}
}
