@charset "UTF-8";
/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/
/* Fonts
========================================================================== */
/* Fonts
========================================================================== */
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url(assets/fonts/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Poppins Light"), local("Poppins-Light"), url(assets/fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(assets/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(assets/fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(assets/fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(assets/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url(assets/fonts/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Global variables
========================================================================== */
a, b, span, p, strong, small, h1, h2, h3, h4, h5, input, div, select, li, button {
  font-family: "Poppins", sans-serif !important;
}

/* Mixins
========================================================================== */
/* Global Mixins
========================================================================== */
/* Resets
========================================================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
*:not(.fas, .fab, .fa),
*:before:not(.fas, .fab, .fa),
*:after:not(.fas, .fab, .fa) {
  font-size: 1rem;
}

a {
  transition: all linear 0.2s;
}
a:focus, a:hover {
  text-decoration: none;
}

input,
button {
  outline: none;
}

section {
  position: relative;
}

img.cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.al-small-container {
  width: 1042px;
}

.al-extra-small-container {
  position: relative;
  width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
  max-width: 100%;
  margin: 0 auto;
}

.header-scroll {
  background-image: url(assets/images/fatia-azul.jpg) !important;
  background-repeat: repeat !important;
}

div.left-right-content {
  display: table;
  width: 100%;
}
div.left-right-content div.left,
div.left-right-content div.right {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  div.left-right-content div.left,
div.left-right-content div.right {
    display: table-row;
  }
}

.left,
.right {
  display: inline-block;
  width: 49.5%;
  position: relative;
  vertical-align: top;
}
@media screen and (max-width: 480px) {
  .left,
.right {
    width: 100%;
    padding: 20px;
  }
}

.page-header {
  background-image: url(assets/images/fatia-azul.jpg) !important;
  background-repeat: repeat !important;
}
.page-header .container {
  height: 396px;
  position: relative;
}
.page-header .container .title {
  padding-top: 75px;
}
@media screen and (min-width: 768px) {
  .page-header .container .title {
    padding-left: 100px;
  }
}
.page-header .container .title h1 {
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .page-header .container .title h1 {
    font-size: 58px;
  }
}
.page-header .container .title p {
  color: #fff;
  font-size: 16px;
}

/* Html / Body
========================================================================== */
html {
  height: 100%;
  overflow: auto;
}

body {
  background: #fff;
  height: 100%;
  line-height: 1.6;
  font: normal normal 16px Arial, sans-serif;
  position: relative;
}

/* Custom scrollbar
========================================================================== */
@media screen and (min-width: 1024px) {
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #e6e6e6;
  }

  body::-webkit-scrollbar-thumb {
    background: #0057a8;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: #002d56;
  }
}
/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
  z-index: 99 !important;
}

.mobmenul-container {
  top: 0 !important;
  right: 2% !important;
  z-index: 0 !important;
  padding: 10px 10px 0px 10px;
}

.mob-icon-menu,
.mob-menu-icon {
  color: #fff !important;
}

[class^=mob-icon-]:before,
[class*=mob-icon-]:before {
  font-size: 28px !important;
  width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container .ajax-loader {
  display: none !important;
}
.form-container span[role=alert] {
  display: none !important;
}
.form-container .wpcf7-not-valid {
  border: 1px solid #dc3545 !important;
}
.form-container .wpcf7-not-valid.placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid:-moz-placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid::-moz-placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid:-ms-input-placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid::-webkit-input-placeholder {
  color: #dc3545 !important;
}
.form-container div[role=alert] {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  text-align: center;
  background: #f1f1f1;
  width: 100%;
  max-width: 502px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-container div[role=alert].wpcf7-validation-errors {
  border-color: #dc3545;
  color: #dc3545;
}
.form-container div[role=alert].wpcf7-mail-sent-ok {
  border-color: #28a745;
  color: #28a745;
}
@media screen and (max-width: 480px) {
  .form-container div[role=alert] {
    position: initial;
    max-width: 100%;
  }
}

/* Pages
========================================================================== */
/* Header
========================================================================== */
button#responsive-menu-button {
  background-color: transparent !important;
}
button#responsive-menu-button.header-scroll .responsive-menu-inner,
button#responsive-menu-button.header-scroll .responsive-menu-inner::before,
button#responsive-menu-button.header-scroll .responsive-menu-inner::after {
  background-color: #fff !important;
}

#responsive-menu-container {
  background: url(assets/images/fatia-azul.jpg) !important;
  background-repeat: repeat;
}
#responsive-menu-container #responsive-menu-wrapper {
  margin-top: 35px;
}
#responsive-menu-container #responsive-menu-wrapper li.responsive-menu-item a {
  background: url(assets/images/fatia-azul.jpg) !important;
  background-repeat: repeat;
  border: none !important;
}
#responsive-menu-container .suporte-menu {
  padding: 15px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#responsive-menu-container .suporte-menu a {
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}
#responsive-menu-container .suporte-menu a:first-child {
  background-color: #18b135;
}
#responsive-menu-container .suporte-menu a:first-child i {
  font-size: 15px;
}
#responsive-menu-container .suporte-menu a:first-child:hover {
  background-color: #128428;
}
#responsive-menu-container .suporte-menu a:not(:first-child) {
  background-color: #ff9d0d;
}
#responsive-menu-container .suporte-menu a:not(:first-child):hover {
  background-color: #d98100;
}
#responsive-menu-container .sociais-menu {
  text-align: center;
}
#responsive-menu-container .sociais-menu > a {
  display: inline-block;
}
#responsive-menu-container .sociais-menu > a svg {
  transition: all 0.3s ease;
  height: 23px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(3);
}
@media screen and (max-width: 1170px) {
  #responsive-menu-container .sociais-menu > a svg {
    width: 45px;
  }
}
#responsive-menu-container .sociais-menu > a:hover svg {
  transform: translateX(5px);
}

header[role=heading] {
  position: fixed;
  background: transparent;
  background-image: none;
  z-index: 100;
  top: 0;
  padding: 20px 0;
  left: 50%;
  width: 100%;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
@media screen and (max-width: 1199px) {
  header[role=heading] {
    padding: 0 !important;
  }
}
header[role=heading] .mobile-menu {
  height: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  header[role=heading] .mobile-menu {
    display: none;
  }
}
header[role=heading] .mobile-menu #wrap-logo img {
  width: 200px;
  margin-top: 10px;
}
header[role=heading] .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
}
@media screen and (max-width: 1199px) {
  header[role=heading] .container {
    display: none;
  }
}
header[role=heading] .container #wrap-logo {
  transition: all 0.3s ease;
}
header[role=heading] .container #wrap-logo a img {
  vertical-align: middle;
}
header[role=heading] .container .orcamento-menu {
  margin-top: 10px;
}
header[role=heading] .container .orcamento-menu > div > a:first-of-type {
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  background: #ff9d0d;
  padding: 8px 19px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 60px;
  display: inline-block;
  transition: all 0.3s ease;
}
header[role=heading] .container .orcamento-menu > div > a:first-of-type i {
  margin-right: 15px;
  font-size: 22px;
}
header[role=heading] .container .orcamento-menu > div > a:first-of-type:hover {
  background-color: #d98100;
}
header[role=heading] .container .orcamento-menu > div > button {
  border: none;
  background: transparent;
  vertical-align: bottom;
  cursor: pointer;
  position: relative;
  height: 34px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
}
header[role=heading] .container .orcamento-menu > div > button svg {
  width: 40px;
  height: 40px;
}
header[role=heading] .container .orcamento-menu > div > button span {
  width: 45px;
  height: 4px;
  background: #0057a8;
  display: block;
  position: absolute;
  border-radius: 2px;
  transition: all 0.3s ease;
}
header[role=heading] .container .orcamento-menu > div > button span:first-child {
  top: 0;
}
header[role=heading] .container .orcamento-menu > div > button span:last-child {
  bottom: 0;
}
header[role=heading] .container .orcamento-menu > div > button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
header[role=heading] .container .orcamento-menu > div > button.menu-open span:first-child {
  top: 50%;
  transform: rotate(45deg);
}
header[role=heading] .container .orcamento-menu > div > button.menu-open span:last-child {
  bottom: 37%;
  transform: rotate(-45deg);
}
header[role=heading] .container .orcamento-menu > div > button.menu-open span:nth-child(2) {
  opacity: 0;
}
header[role=heading].header-scroll {
  padding: 3px 0;
}
header[role=heading].header-scroll #wrap-logo a img {
  filter: invert(200%) brightness(4.5);
}
header[role=heading].header-scroll .orcamento-menu > div > button span {
  background: #fff;
}

#menu-desktop {
  position: fixed;
  z-index: 99;
  width: 0%;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.63);
  top: 0;
}
#menu-desktop #main-menu {
  background: url(assets/images/fatia-azul.jpg);
  background-repeat: repeat;
  padding: 20px 0 70px 70px;
  height: 100%;
  width: 524px;
  position: relative;
}
#menu-desktop #main-menu h1#wrap-logo {
  text-align: center;
  padding-right: 60px;
}
#menu-desktop #main-menu h1#wrap-logo img {
  filter: invert(200%) brightness(4.5);
  vertical-align: middle;
}
#menu-desktop #main-menu li a {
  color: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
}
#menu-desktop #main-menu ul.menu > li {
  font-size: 22px;
  padding: 20px 60px 20px 0;
}
#menu-desktop #main-menu ul.menu > li .sub-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  left: 464px;
  top: 0;
  background: url(assets/images/fatia-azul.jpg);
  background-repeat: repeat;
  padding: 110px 70px 70px 13%;
  height: 100%;
  width: 524px;
  box-shadow: inset 23px 0px 30px -27px #171717;
  transition: all 0.3s ease;
}
#menu-desktop #main-menu ul.menu > li .sub-menu > li {
  padding: 20px 60px 20px 0;
}
#menu-desktop #main-menu ul.menu > li .sub-menu > li:hover > a {
  color: #ff9d0d;
}
#menu-desktop #main-menu ul.menu > li.menu-item-has-children > a::after {
  content: "\F054";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
}
#menu-desktop #main-menu ul.menu > li:hover > a {
  color: #ff9d0d;
}
#menu-desktop #main-menu ul.menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  left: 523px;
  z-index: 1;
}
#menu-desktop #main-menu .suporte-menu {
  padding-right: 60px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#menu-desktop #main-menu .suporte-menu a {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 2px;
  font-weight: 500;
}
#menu-desktop #main-menu .suporte-menu a:first-child {
  width: 100%;
  background-color: #18b135;
  margin-bottom: 10px;
}
#menu-desktop #main-menu .suporte-menu a:first-child i {
  font-size: 25px;
}
#menu-desktop #main-menu .suporte-menu a:first-child:hover {
  background-color: #128428;
}
#menu-desktop #main-menu .suporte-menu a:not(:first-child) {
  background-color: #ff9d0d;
  width: 49%;
}
#menu-desktop #main-menu .suporte-menu a:not(:first-child):hover {
  background-color: #d98100;
}
#menu-desktop #main-menu .sociais-menu {
  text-align: center;
  padding-right: 60px;
}
#menu-desktop #main-menu .sociais-menu > a {
  display: inline-block;
}
#menu-desktop #main-menu .sociais-menu > a svg {
  transition: all 0.3s ease;
  height: 23px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(3);
}
@media screen and (max-width: 1170px) {
  #menu-desktop #main-menu .sociais-menu > a svg {
    width: 45px;
  }
}
#menu-desktop #main-menu .sociais-menu > a:hover svg {
  transform: translateX(5px);
}

.mobmenu {
  background-image: none;
}
.mobmenu .mob-standard-logo {
  transition: all 0.3s ease !important;
}
@media screen and (max-width: 500px) {
  .mobmenu .mob-standard-logo {
    margin-right: 20px;
  }
}
.mobmenu .mob-menu-icon {
  color: #0057a8 !important;
}
.mobmenu.header-scroll .mob-standard-logo {
  filter: invert(200%) brightness(4.5);
}
.mobmenu.header-scroll .mob-menu-icon {
  color: #fff !important;
}

.mobmenu-left-panel {
  background-color: transparent !important;
  background: url(assets/images/fatia-azul.jpg);
  background-repeat: repeat;
}

.mobmenu-content > .menu-principal-container .suporte-menu {
  padding: 15px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobmenu-content > .menu-principal-container .suporte-menu a {
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}
.mobmenu-content > .menu-principal-container .suporte-menu a:first-child {
  background-color: #18b135;
}
.mobmenu-content > .menu-principal-container .suporte-menu a:first-child i {
  font-size: 15px;
}
.mobmenu-content > .menu-principal-container .suporte-menu a:first-child:hover {
  background-color: #128428;
}
.mobmenu-content > .menu-principal-container .suporte-menu a:not(:first-child) {
  background-color: #ff9d0d;
}
.mobmenu-content > .menu-principal-container .suporte-menu a:not(:first-child):hover {
  background-color: #d98100;
}
.mobmenu-content > .menu-principal-container .sociais-menu {
  text-align: center;
}
.mobmenu-content > .menu-principal-container .sociais-menu > a {
  display: inline-block;
}
.mobmenu-content > .menu-principal-container .sociais-menu > a svg {
  transition: all 0.3s ease;
  height: 23px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(3);
}
@media screen and (max-width: 1170px) {
  .mobmenu-content > .menu-principal-container .sociais-menu > a svg {
    width: 45px;
  }
}
.mobmenu-content > .menu-principal-container .sociais-menu > a:hover svg {
  transform: translateX(5px);
}

/* Footer
========================================================================== */
footer {
  background: #f5f5f5;
  background-size: 131px;
  display: flex;
}
@media screen and (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
  }
}
footer div.footer-left {
  width: 38%;
  padding: 105px 60px 100px 13%;
}
@media screen and (max-width: 1024px) {
  footer div.footer-left {
    width: 100%;
    padding: 30px 20px;
  }
}
@media screen and (max-width: 1024px) {
  footer div.footer-left .logo-footer {
    text-align: center;
  }
}
footer div.footer-left > p {
  font-size: 14px;
  color: #666666;
  padding: 15px 0 40px 0;
}
footer div.footer-left .socias-footer {
  padding-left: 25px;
}
@media screen and (max-width: 1024px) {
  footer div.footer-left .socias-footer {
    text-align: center;
  }
}
@media screen and (max-width: 1170px) {
  footer div.footer-left .socias-footer {
    padding: 0;
  }
}
footer div.footer-left .socias-footer > a {
  display: inline-block;
}
footer div.footer-left .socias-footer > a svg {
  transition: all 0.3s ease;
  height: 23px;
  width: 50px;
  vertical-align: middle;
}
@media screen and (max-width: 1170px) {
  footer div.footer-left .socias-footer > a svg {
    width: 45px;
  }
}
footer div.footer-left .socias-footer > a:hover svg {
  transform: translateX(5px);
}
footer div.footer-right {
  width: 62%;
  background: url(assets/images/fatia-azul.jpg);
  background-repeat: repeat;
  padding: 55px 13% 64px 55px;
}
@media screen and (max-width: 1024px) {
  footer div.footer-right {
    width: 100%;
    padding: 30px 20px;
  }
}
footer div.footer-right .contato-local {
  display: flex;
}
@media screen and (max-width: 1170px) {
  footer div.footer-right .contato-local {
    flex-wrap: wrap;
  }
}
footer div.footer-right .contato-local h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1170px) {
  footer div.footer-right .contato-local > div {
    width: 100%;
  }
}
footer div.footer-right .contato-local > div:first-child {
  margin-right: 65px;
}
footer div.footer-right .contato-local > div p {
  color: #fff;
  font-size: 14px;
}
footer div.footer-right .contato-local > div p a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease;
}
footer div.footer-right .contato-local > div p a:hover {
  transform: translateX(5px);
}
@media screen and (max-width: 1170px) {
  footer div.footer-right .contato-local > div:nth-child(2) {
    margin-top: 20px;
  }
}
footer div.footer-right .footer-newsletter {
  margin-top: 80px;
}
footer div.footer-right .footer-newsletter p {
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
}
footer div.footer-right .footer-newsletter form {
  position: relative;
}
footer div.footer-right .footer-newsletter input {
  border: none;
  font-style: italic;
  padding: 8px 10px;
  width: 460px;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  footer div.footer-right .footer-newsletter input {
    width: 100%;
  }
}
footer div.footer-right .footer-newsletter input:first-of-type {
  margin-bottom: 10px;
}
footer div.footer-right .footer-newsletter button {
  background: none;
  color: #469ac6;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 400px;
  bottom: 0px;
  text-align: center;
  width: 60px;
  height: 36px;
}
footer div.footer-right .footer-newsletter button .fas {
  transition: all 0.3s ease;
}
footer div.footer-right .footer-newsletter button:hover .fas {
  transform: translateX(3px);
}
@media screen and (max-width: 1024px) {
  footer div.footer-right .footer-newsletter button {
    right: 0;
    left: auto;
  }
}
@media screen and (max-width: 1024px) {
  footer div.footer-right .footer-newsletter {
    margin-top: 45px;
  }
}

/* Home
========================================================================== */
body.home header[role=heading] #wrap-logo a img {
  filter: invert(200%) brightness(4.5);
}
body.home header[role=heading] .orcamento-menu > div > button span {
  background: #fff !important;
}

#wrapper #slider-desktop {
  height: 685px;
}

@media screen and (min-width: 1200px) {
  #wrapper section.page-fale-conosco {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  #wrapper section.page-fale-conosco {
    margin-top: 60px;
  }
}
#wrapper section.page-fale-conosco .page-header {
  margin-bottom: 196px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-fale-conosco .page-header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  #wrapper section.page-fale-conosco .page-header .container .title {
    width: 45%;
  }
}
#wrapper section.page-fale-conosco .page-header .container .thumb {
  position: absolute;
  right: 148px;
  top: 20px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-fale-conosco .page-header .container .thumb {
    display: none;
  }
}
#wrapper section.page-fale-conosco .content .container > div:first-child {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  #wrapper section.page-fale-conosco .content .container > div:first-child {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div {
  text-align: center;
  padding: 42px 62px;
  width: 33%;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div h3 {
  font-size: 35px;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div h3 span {
  color: #0057a8;
}
@media screen and (max-width: 1199px) {
  #wrapper section.page-fale-conosco .content .container > div:first-child > div h3 {
    font-size: 28px;
  }
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div a {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  border: 2px solid;
  font-weight: 600;
  padding: 5px 0;
  width: 254px;
  margin: 0 auto;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div a i {
  font-size: 25px;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div a:hover {
  background: #fff !important;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div p {
  color: #181818;
  font-size: 16px;
  margin-bottom: 18px;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:first-child {
  padding-left: 0;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:first-child a {
  background: #ff9d0d;
  border-color: #ff9d0d;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:first-child a:hover {
  color: #ff9d0d;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:nth-child(2) {
  border-left: 2px solid #d8d9da;
  border-right: 2px solid #d8d9da;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:nth-child(2) a {
  background: #18b135;
  border-color: #18b135;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:nth-child(2) a:hover {
  color: #18b135;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:last-child {
  width: 35%;
  padding-right: 0;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:last-child a {
  background: #0057a8;
  border-color: #0057a8;
}
#wrapper section.page-fale-conosco .content .container > div:first-child > div:last-child a:hover {
  color: #0057a8;
}
@media screen and (max-width: 768px) {
  #wrapper section.page-fale-conosco .content .container > div:first-child > div {
    width: 100% !important;
    padding: 0;
    margin-bottom: 30px;
    border: none !important;
  }
}
@media screen and (max-width: 1199px) and (min-width: 769px) {
  #wrapper section.page-fale-conosco .content .container > div:first-child > div {
    padding: 0;
    border: none !important;
    width: 45% !important;
    margin-bottom: 30px;
  }
}
#wrapper section.page-fale-conosco .content .container div.contato {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-fale-conosco .content .container div.contato {
    flex-wrap: wrap;
  }
}
#wrapper section.page-fale-conosco .content .container div.contato > div:first-child .title span {
  font-size: 16px;
  color: #0057a8;
  font-weight: 600;
  text-transform: uppercase;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:first-child .title h2 {
  text-transform: uppercase;
  font-size: 60px;
  color: #181818;
  line-height: 1;
  font-weight: 800;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:first-child .title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 365px;
  height: 2px;
  left: -80px;
  background: #0057a8;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:first-child .title h3 {
  font-size: 23px;
  color: #0057a8;
  line-height: 1.3;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:first-child p {
  color: #181818;
  font-size: 16px;
  margin-top: 28px;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child {
  width: 52%;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-fale-conosco .content .container div.contato > div:last-child {
    width: 100%;
    margin-top: 30px;
  }
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p {
  margin-bottom: 10px;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p label {
  color: #181818;
  font-size: 16px;
  margin-top: 10px;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p label input:not([type=checkbox]), #wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p label textarea {
  width: 100%;
  border: 1px solid #0057a8;
  border-radius: 10px;
  padding: 0 10px;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p label input:not([type=checkbox]) {
  height: 38px;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p input[type=submit] {
  background: #ff9d0d;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  border: 2px solid #ff9d0d;
  border-radius: 5px;
  height: 50px;
  padding: 0 46px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p input[type=submit]:hover {
  background: #fff;
  color: #ff9d0d;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form p span.newsletter {
  font-weight: 100;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form .wpcf7-not-valid-tip {
  display: none !important;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form .wpcf7-not-valid {
  border: 1px solid red !important;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child form .wpcf7-validation-errors {
  border-radius: 5px;
  border: 1px solid #ffc800 !important;
}
#wrapper section.page-fale-conosco .content .container div.contato > div:last-child .wpcf7-form-control-wrap {
  position: initial;
}
#wrapper section.page-fale-conosco .content .maps {
  position: relative;
  margin-top: 100px;
}
#wrapper section.page-fale-conosco .content .maps .local {
  background-image: url(assets/images/fatia-azul.jpg);
  background-repeat: repeat;
  top: -66px;
  padding: 33px 0 33px 14%;
  width: 45%;
}
@media screen and (min-width: 768px) {
  #wrapper section.page-fale-conosco .content .maps .local {
    position: absolute;
  }
}
@media screen and (max-width: 768px) {
  #wrapper section.page-fale-conosco .content .maps .local {
    width: 768px;
  }
}
@media screen and (max-width: 800px) {
  #wrapper section.page-fale-conosco .content .maps .local {
    top: -55px;
  }
}
@media screen and (max-width: 1024px) {
  #wrapper section.page-fale-conosco .content .maps .local {
    padding: 33px 15px;
  }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  #wrapper section.page-fale-conosco .content .maps .local {
    width: 50%;
  }
}
#wrapper section.page-fale-conosco .content .maps .local h3 {
  font-size: 35px;
  color: #fff;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  #wrapper section.page-fale-conosco .content .maps .local h3 {
    font-size: 25px;
  }
}
#wrapper section.page-fale-conosco .content .maps .local p a {
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  #wrapper section.page-fale-conosco .content .maps .local p a {
    font-size: 16px;
  }
}
#wrapper section.page-fale-conosco .content .maps iframe {
  width: 100%;
  height: 515px;
}

@media screen and (min-width: 1200px) {
  #wrapper section.page-sobre-nos {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  #wrapper section.page-sobre-nos {
    margin-top: 60px;
  }
}
#wrapper section.page-sobre-nos .page-header {
  margin-bottom: 196px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .page-header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  #wrapper section.page-sobre-nos .page-header .container .title {
    width: 70%;
  }
}
#wrapper section.page-sobre-nos .page-header .container .thumb {
  position: absolute;
  right: 50px;
  top: 20px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .page-header .container .thumb {
    display: none;
  }
}
#wrapper section.page-sobre-nos div.content div.container .especialista {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 74px;
}
@media screen and (max-width: 800px) {
  #wrapper section.page-sobre-nos div.content div.container .especialista {
    flex-wrap: wrap;
    padding: 0;
  }
}
#wrapper section.page-sobre-nos div.content div.container .especialista > div {
  width: 43%;
}
@media screen and (max-width: 800px) {
  #wrapper section.page-sobre-nos div.content div.container .especialista > div {
    width: 100%;
  }
}
#wrapper section.page-sobre-nos div.content div.container .especialista > div:first-of-type h2 {
  font-size: 60px;
  text-transform: uppercase;
  color: #181818;
  line-height: 1;
  font-weight: 800;
}
@media screen and (max-width: 800px) {
  #wrapper section.page-sobre-nos div.content div.container .especialista > div:first-of-type h2 {
    font-size: 45px;
  }
}
#wrapper section.page-sobre-nos div.content div.container .especialista > div:first-of-type h2 span {
  color: #0057a8;
  font-size: 30px;
  font-weight: 600;
  display: block;
}
#wrapper section.page-sobre-nos div.content div.container .especialista > div:last-of-type p {
  color: #181818;
  text-align: right;
  font-size: 18px;
  font-weight: 300;
}
#wrapper section.page-sobre-nos .trajetoria {
  margin-bottom: 20px;
  margin-top: 90px;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria {
    flex-wrap: wrap;
  }
}
#wrapper section.page-sobre-nos .trajetoria .title-mobile {
  padding: 0 15px;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  #wrapper section.page-sobre-nos .trajetoria .title-mobile {
    display: none;
  }
}
#wrapper section.page-sobre-nos .trajetoria .title-mobile span {
  font-size: 16px;
  color: #0057a8;
  font-weight: 600;
  text-transform: uppercase;
}
#wrapper section.page-sobre-nos .trajetoria .title-mobile h2 {
  text-transform: uppercase;
  font-size: 45px;
  color: #181818;
  line-height: 1;
  font-weight: 800;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#wrapper section.page-sobre-nos .trajetoria .title-mobile h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 365px;
  height: 2px;
  right: -142px;
  background: #0057a8;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile) {
  width: 50%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile) {
    width: 100%;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile) > div {
  width: calc(1170px / 2);
  height: 100%;
}
@media screen and (max-width: 1200px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile) > div {
    width: 100%;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):nth-of-type(2) > div {
  margin-left: auto;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):nth-of-type(2) > div #galeria-trajetoria-ow {
  margin-left: -86px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):nth-of-type(2) > div #galeria-trajetoria-ow {
    margin-left: 0;
  }
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):nth-of-type(2) > div #galeria-trajetoria-ow img {
    max-width: 100vw;
  }
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):nth-of-type(2) > div #galeria-trajetoria-ow {
    margin-left: 0;
  }
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):nth-of-type(2) > div #galeria-trajetoria-ow img {
    max-width: 460px;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) {
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 1200px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) {
    padding: 0 15px;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) .title {
  text-align: right;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) .title span {
  font-size: 16px;
  color: #0057a8;
  font-weight: 600;
  text-transform: uppercase;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) .title h2 {
  text-transform: uppercase;
  font-size: 60px;
  color: #181818;
  line-height: 1;
  font-weight: 800;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) .title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 365px;
  height: 2px;
  right: -142px;
  background: #0057a8;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) .title {
    display: none;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #slide-controls {
  margin-bottom: 10px;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #slide-controls button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 59px;
  height: 38px;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #slide-controls button:last-child img {
  transform: rotate(180deg);
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #slide-controls button:hover {
  background: #0057a8;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #slide-controls button:hover img {
  filter: invert(200%) brightness(4.5);
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li {
  position: relative;
  height: 320px;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li {
    background-image: url(assets/images/fundo-sobre.jpg);
    background-repeat: no-repeat;
    height: 353px;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child > div.left {
  text-align: right;
  width: 69.5%;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child > div.left h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 25px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child > div.left h3 {
    font-size: 20px;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child > div.left p {
  font-size: 18px;
  line-height: 1.3;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child > div.left p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child > div.left {
    width: 100%;
    padding: 20px;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child div.right {
  width: 29.5%;
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child div.right p {
  word-break: break-word;
  line-height: 0.8;
  font-size: 115px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child div.right p {
    font-size: 52px;
  }
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > div:not(.bg-absolute) #content-trajetoria li > div:first-child div.right {
    width: 100%;
  }
}
#wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > .bg-absolute {
  width: 58vw;
  height: 320px;
  position: absolute;
  bottom: 0;
  left: -111px;
  background-image: url(assets/images/fundo-sobre.jpg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > .bg-absolute {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  #wrapper section.page-sobre-nos .trajetoria > div:not(.title-mobile):last-of-type > .bg-absolute {
    left: -64px;
  }
}
#wrapper section.page-sobre-nos .equipe {
  margin-top: 20px;
  margin-bottom: 50px;
}
#wrapper section.page-sobre-nos .equipe .container .line {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-sobre-nos .equipe .container .line {
    display: block;
  }
}
#wrapper section.page-sobre-nos .equipe .container .line > div {
  width: 31%;
  height: 394px;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  #wrapper section.page-sobre-nos .equipe .container .line > div {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  #wrapper section.page-sobre-nos .equipe .container .line > div {
    width: 425px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
#wrapper section.page-sobre-nos .equipe .container .line > div > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  filter: grayscale(77%);
  transition: all 0.3s ease;
}
#wrapper section.page-sobre-nos .equipe .container .line > div .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 25px;
  color: #fff;
  background-image: linear-gradient(to top, #292929 20%, transparent);
}
#wrapper section.page-sobre-nos .equipe .container .line > div .info h4 {
  font-size: 30px;
  font-weight: 500;
}
#wrapper section.page-sobre-nos .equipe .container .line > div .info span {
  font-size: 18px;
  font-style: italic;
}
#wrapper section.page-sobre-nos .equipe .container .line > div:first-child .title span {
  font-size: 16px;
  color: #0057a8;
  font-weight: 600;
  text-transform: uppercase;
}
#wrapper section.page-sobre-nos .equipe .container .line > div:first-child .title h2 {
  text-transform: uppercase;
  font-size: 60px;
  color: #181818;
  line-height: 1;
  font-weight: 800;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#wrapper section.page-sobre-nos .equipe .container .line > div:first-child .title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 365px;
  height: 2px;
  left: -80px;
  background: #0057a8;
}
#wrapper section.page-sobre-nos .equipe .container .line > div:first-child .title h3 {
  font-size: 23px;
  color: #0057a8;
  line-height: 1.3;
}
#wrapper section.page-sobre-nos .equipe .container .line > div:hover img {
  transform: scale(1.05);
  filter: none;
}
@media screen and (min-width: 768px) {
  #wrapper section.page-sobre-nos .equipe .container .line:first-child > div:nth-child(2) {
    margin-top: 60px;
  }
  #wrapper section.page-sobre-nos .equipe .container .line:first-child > div:last-child {
    margin-top: 180px;
  }
  #wrapper section.page-sobre-nos .equipe .container .line:not(:first-child) > div:nth-child(2) {
    margin-top: -120px;
  }
  #wrapper section.page-sobre-nos .equipe .container .line:not(:first-child) > div:first-child {
    margin-top: -300px;
  }
}

@media screen and (min-width: 1200px) {
  #wrapper section.page-blog {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  #wrapper section.page-blog {
    margin-top: 60px;
  }
}
#wrapper section.page-blog .page-header {
  margin-bottom: 196px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-blog .page-header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  #wrapper section.page-blog .page-header .container .title {
    width: 70%;
  }
}
#wrapper section.page-blog .page-header .container .thumb {
  position: absolute;
  right: 50px;
  top: 20px;
}
@media screen and (max-width: 1023px) {
  #wrapper section.page-blog .page-header .container .thumb {
    display: none;
  }
}
#wrapper section.page-blog div.content div.container .title span {
  font-size: 16px;
  color: #0057a8;
  font-weight: 600;
  text-transform: uppercase;
}
#wrapper section.page-blog div.content div.container .title h2 {
  text-transform: uppercase;
  font-size: 80px;
  color: #181818;
  line-height: 1;
  font-weight: 800;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#wrapper section.page-blog div.content div.container .title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 365px;
  height: 2px;
  left: -130px;
  background: #0057a8;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container .title h2 {
    font-size: 52px;
  }
}
#wrapper section.page-blog div.content div.container .title h3 {
  font-size: 23px;
  color: #0057a8;
  line-height: 1.3;
}
#wrapper section.page-blog div.content div.container .title.title-categorias h2 {
  font-size: 60px;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container .title.title-categorias h2 {
    font-size: 52px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog {
  margin-top: 35px;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card {
  float: right;
  width: 52%;
  margin-bottom: 22px;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child {
  float: left;
  width: 45.5%;
  margin-right: 25px;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child .thumbnail {
  margin-bottom: 10px;
  height: 524px;
}
@media screen and (max-width: 425px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child .thumbnail {
    height: 345px;
  }
}
@media screen and (max-width: 475px) and (min-width: 426px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child .thumbnail {
    height: 406px;
  }
}
@media screen and (max-width: 535px) and (min-width: 476px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child .thumbnail {
    height: 457px;
  }
}
@media screen and (max-width: 880px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child .thumbnail {
    height: 345px;
  }
}
@media screen and (max-width: 1015px) and (min-width: 881px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child .thumbnail {
    height: 400px;
  }
}
@media screen and (max-width: 535px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 536px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child {
    float: none;
    width: 100%;
    max-width: 505px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:first-child {
    margin-right: 18px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card .thumbnail {
  overflow: hidden;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card .thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s ease;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card .info h3 {
  font-size: 28px;
  color: #181818;
  font-weight: 600;
  line-height: 1;
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card .info h3 {
    font-size: 18px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card .info > span {
  font-size: 16px;
  font-weight: 600;
  color: #737373;
  padding: 5px 0;
  display: block;
  position: relative;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card .info > span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 75%;
  bottom: 0;
  left: 0;
  background: #737373;
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card .info > span {
    font-size: 11px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card .info p {
  font-size: 16px;
  color: #737373;
  margin-top: 5px;
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card .info p {
    font-size: 12px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a {
  display: flex;
  justify-content: space-between;
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
  height: 212px;
  width: 35%;
}
@media screen and (max-width: 425px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    height: 345px;
  }
}
@media screen and (max-width: 475px) and (min-width: 426px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    height: 406px;
  }
}
@media screen and (max-width: 535px) and (min-width: 476px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    height: 457px;
  }
}
@media screen and (max-width: 767px) and (min-width: 536px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    height: 524px;
  }
}
@media screen and (max-width: 880px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    height: 143px;
  }
}
@media screen and (max-width: 1015px) and (min-width: 881px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    height: 182px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .info {
  width: 61%;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a {
    flex-wrap: wrap;
  }
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .thumbnail {
    width: 100%;
  }
  #wrapper section.page-blog div.content div.container .destaques-blog article.card:not(:first-child) a .info {
    width: 100%;
    margin-top: 20px;
  }
}
#wrapper section.page-blog div.content div.container .destaques-blog article.card:hover .thumbnail img {
  transform: scale(1.05);
}
@media screen and (max-width: 535px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 536px) {
  #wrapper section.page-blog div.content div.container .destaques-blog article.card {
    float: none;
    width: 100%;
    max-width: 505px;
    margin: 0 auto;
  }
}
#wrapper section.page-blog div.content div.container div.categorias-destaque {
  margin-top: 35px;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque {
    margin-bottom: 40px;
  }
}
#wrapper section.page-blog div.content div.container div.categorias-destaque ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque ul {
    flex-wrap: wrap;
  }
}
#wrapper section.page-blog div.content div.container div.categorias-destaque ul li {
  width: 19%;
  height: 338px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque ul li {
    width: 49%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque ul li {
    height: 250px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque ul li {
    height: 214px;
  }
}
#wrapper section.page-blog div.content div.container div.categorias-destaque ul li a {
  display: block;
  text-align: center;
  height: 100%;
  position: relative;
}
#wrapper section.page-blog div.content div.container div.categorias-destaque ul li a span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 50px;
  word-break: break-all;
  text-transform: uppercase;
  font-weight: 800;
}
@media screen and (max-width: 767px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque ul li a span {
    font-size: 44px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container div.categorias-destaque ul li a span {
    font-size: 30px;
  }
}
#wrapper section.page-blog div.content div.container div.categorias-destaque ul li:hover {
  background-size: 103%;
}
#wrapper section.page-blog div.content div.container div.todas-materias {
  margin-top: 40px;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  #wrapper section.page-blog div.content div.container div.todas-materias .articles {
    max-width: 767px;
    margin: 0 auto;
  }
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card {
  width: 23.5%;
  margin-bottom: 70px;
  position: relative;
  transition: all 0.3s ease;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .thumbnail {
  height: 270px;
  overflow: hidden;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .thumbnail img {
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info {
  margin-top: 15px;
  padding-bottom: 45px;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info h3 {
  color: #181818;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info span {
  font-size: 13px;
  font-weight: 600;
  color: #737373;
  display: block;
  border-bottom: 1px solid #737373;
  padding-top: 8px;
  padding-bottom: 5px;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info p {
  font-size: 14px;
  color: #737373;
  font-weight: 500;
  margin-top: 5px;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info .veja-mais {
  position: absolute;
  bottom: 0;
  left: 0;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info .veja-mais button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #0057a8;
  border: 1px solid #0057a8;
  border-radius: 5px;
  width: 135px;
  transition: all 0.3s ease;
  height: 34px;
  margin-top: 25px;
  cursor: pointer;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card a .info .veja-mais button:hover {
  background: #fff;
  color: #0057a8;
}
#wrapper section.page-blog div.content div.container div.todas-materias .articles article.card:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 550px) {
  #wrapper section.page-blog div.content div.container div.todas-materias .articles article.card {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 551px) {
  #wrapper section.page-blog div.content div.container div.todas-materias .articles article.card {
    width: 49%;
  }
}
#wrapper section.page-blog div.content div.container div.pagination {
  margin-bottom: 85px;
}
#wrapper section.page-blog div.content div.container div.pagination nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#wrapper section.page-blog div.content div.container div.pagination nav span, #wrapper section.page-blog div.content div.container div.pagination nav a {
  font-size: 18px;
  color: #c6ccd1;
  width: 50px;
  text-align: center;
  display: inline-block;
  border: 1px solid #c9c9c9;
  margin: -3px;
  padding: 8px 0;
  transition: all 0.3s ease;
}
#wrapper section.page-blog div.content div.container div.pagination nav span.current, #wrapper section.page-blog div.content div.container div.pagination nav span:hover, #wrapper section.page-blog div.content div.container div.pagination nav a.current, #wrapper section.page-blog div.content div.container div.pagination nav a:hover {
  color: #0057a8;
  font-weight: 500;
  background: #f2f3f5;
}
#wrapper section.page-blog div.content div.container div.pagination nav span:not(:last-child), #wrapper section.page-blog div.content div.container div.pagination nav a:not(:last-child) {
  border-right: none;
}
#wrapper section.page-blog div.content div.container div.pagination nav span:first-child, #wrapper section.page-blog div.content div.container div.pagination nav a:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#wrapper section.page-blog div.content div.container div.pagination nav span:last-child, #wrapper section.page-blog div.content div.container div.pagination nav a:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#wrapper section.page-blog div.content div.container div.pagination nav span.next, #wrapper section.page-blog div.content div.container div.pagination nav span.prev, #wrapper section.page-blog div.content div.container div.pagination nav a.next, #wrapper section.page-blog div.content div.container div.pagination nav a.prev {
  color: #0057a8;
}